node_modules/
npm-debug.log*
*.tgz
.DS_Store
.env

website/preview.png
website/preview_mobile.png
website/preview_esport.png
website/preview_hero.png
website/preview_header.png
website/preview_photos.png
website/preview_cta.png
website/preview_why.png
website/preview_contact.png
package-lock.json
website/crop_*.png
website/preview_purple.png
website/*.png
